<div>
    <app-widget-area></app-widget-area>
</div>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Draft" [total]="totalDraft"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Submitted" [total]="totalSubmit"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Approved" [total]="totalApprove"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Returned" [total]="totalReturn"></app-widget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>