<div class="container">
    <h3 id="branding" class="text-center">Leads</h3>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">03-2693 6880</a>&nbsp;&nbsp;HR OFFICE</li>
	        	<li><a href="/about">03-2692 4600</a>&nbsp;&nbsp;ITEA OFFICE</li>
        		<li><a href="/cv">1-300-80-5454</a>&nbsp;&nbsp;IT STRATEGY BUDGETING & RESOURCE MANAGEMENT OFFICE</li>
        		<li><a href="/blog">03-55269000</a>&nbsp;&nbsp;WHOLESALE BANKING OFFICE</li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Head Departments Office Contacts</h1>
				<p>For more enquiries regarding applicant, documents, contact no. and etc.&nbsp;&nbsp;<em>please call the respective</em> Bank Rakyat Head Departments:</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hankquinlanhub@gmail.com">03-2693 6880</a>&nbsp;&nbsp;HR HEAD DEPARMENT OFFICE</li>
        		<li><a href="https://github.com/hankquinlan">03-2693 6880</a>&nbsp;&nbsp;ITEA HEAD DEPARTMENT OFFICE</li>
			</ul>
		</footer>
	</body>
