<div class="container">
  <h3 id="branding" class="text-center">Be a part of our amazing team</h3>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <form #jobForm="ngForm" [formGroup]="form">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="firstName">First name</label>
            <input name="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required
              minlength="4" formControlName="firstName">

            <!-- invalid - not a valid control
                   dirty - When a value changes
                   touched - when it receives focus -->
            <div *ngIf="form.get('firstName').invalid && (form.get('firstName').dirty || form.get('firstName').touched)"
              class="alert alert-danger">

              <div *ngIf="form.get('firstName').errors.required">First name is required</div>
              <div *ngIf="form.get('firstName').errors.minlength">First name should be {{
                form.get('firstName').errors.minlength.requiredLength
                }} characters in length.</div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" formControlName="lastName">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-1">
            <label for="email">EMail<span>*</span></label>
            <input type="text" class="form-control" id="email" placeholder="" value="" formControlName="email">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-1">
            <label for="jobPosition">What position are you applying for<span>*</span></label>
            <select name="jobPosition" class="form-control" id="jobPosition" required formControlName="applyPosition">
              <option value=""></option>
              <option *ngFor="let pos of jobPositionList" [ngValue]="pos.name">
                {{ pos.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-1">
            <label for="availableStartDate">Available Start Date</label>

            <div class="input-group mb-2">

              <input class="form-control" placeholder="dd/mm/yyyy" name="dp" ngbDatepicker #d="ngbDatepicker"
                formControlName="availableStartDate">

              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>What is your current employement status</label>
          </div>

          <div class="col-md-4 mb-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" value="employed" id="invalidCheck2"
                formControlName="currentEmploymentStatus">
              <label class="form-check-label" for="invalidCheck2">
                EMPLOYED
              </label>
            </div>
          </div>

          <div class="col-md-4 mb-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" value="unemployed" id="invalidCheck2"
                formControlName="currentEmploymentStatus">
              <label class="form-check-label" for="invalidCheck2">
                UNEMPLOYED
              </label>
            </div>
          </div>

          <div class="col-md-4 mb-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" value="selfEmployed" id="invalidCheck2"
                formControlName="currentEmploymentStatus">
              <label class="form-check-label" for="invalidCheck2">
                SELF EMPLOYED
              </label>
            </div>
          </div>

          <div class="col-md-4 mb-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" value="student" id="invalidCheck2"
                formControlName="currentEmploymentStatus">
              <label class="form-check-label" for="invalidCheck2">
                STUDENT
              </label>
            </div>
          </div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" style="float: right;" mat-flat-button color="secondary"
            (click)="jobSubmit('draft')">Save as Draft</button>
          <button type="submit" style="float: right;" mat-flat-button color="primary"
            (click)="jobSubmit('submit')">Submit</button>

        </div>
      </form>
    </div>
  </div>
</div>