<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" mat-flat-button color="primary" (click)="filter('draft')">Draft</button>
  <button type="button" mat-flat-button color="primary" (click)="filter('submit')">Submitted</button>
  <button type="button" mat-flat-button color="primary" (click)="filter('approve')">Approved</button>
  <button type="button" mat-flat-button color="primary" (click)="filter('return')">Returned</button>
</div>
<br>
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <button type="button" mat-flat-button color="primary">search</button>
</div>
<br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Writer Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Writer Column -->
    <ng-container matColumnDef="applyPosition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apply Position </th>
      <td mat-cell *matCellDef="let element"> {{element.applyPosition}} </td>
    </ng-container>

    <!-- Writer Column -->
    <ng-container matColumnDef="availableStartDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.availableStartDate}} </td>
    </ng-container>

    <!-- Writer Column -->
    <ng-container matColumnDef="currentEmploymentStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Employment Status </th>
      <td mat-cell *matCellDef="let element"> {{element.currentEmploymentStatus}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>